body{
    background-color: dimgray;
}

 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
.js-clock{
    color: white;
    font-size: 32px;
    text-align: center;
    margin-top: 200px;
    animation: tracking-in-contract 1s;
}

.js-form{
    margin-top: -60px;
    text-align: center;
    block-size: 50px;
    
}

input{
  width : 300px;
  height: 30px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  border-top: none;
  animation: tracking-in-expand 1s;
}

input::placeholder {
  overflow: hidden;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  animation: tracking-in-expand 1s;
 }

 .form,
 .greetings{
     margin-top: -50px;
     display: none;
     text-align: center;
     font-size: 36px;
     color: white;
     animation: tracking-in-contract 1s;
 }

.showing{
    display: block;
 }

 .js-toDoForm{
     margin-top: 20px;
     text-align: center;
 }


 .js-toDoList{
     display: inline-block;
     margin-left: 40em;
     color: gray;
     font-size:18px;
     animation: tracking-in-expand 0.1s;
 }

 image {
  margin-right: 10px;
  margin-top: 20px;
 }
 
 li {
    list-style: none;
    color: white;
    background-color: #2b303b;
    border-radius: 10px 10px 10px 10px;
    height: 0;
    font-size: 14pt;
    line-height: 2em;
    margin: 10px 10px;
    padding-left: 35px;
    width: 20em;
    overflow: hidden;
    transition: all 0.4s ease-out;
    opacity: 0;
  }

  li.show {
    height: 2em;
    margin: 2px 0;
    opacity: 1;
  }
 .delBtn:hover{
   animation: fadeOut .5s;

 }
  
 
@keyframes fadeOut{
     from{
         opacity: 0;
         border-color: #ffffff;
        }
        to{
            opacity: 1;
            border-color: #ffffff;
        }
 }

 @keyframes fadeIn{
     from{
         opacity: 0;
        }
        to{
            opacity: 1;
        }
 }

 .bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

